@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --color-secondary: #10b981;
  --color-danger: #ef4444;
  --color-dark: #1f2937;
  --color-light: #f3f4f6;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--color-light);
  color: var(--color-dark);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--color-dark);
    color: var(--color-light);
  }
}
